.App {
  text-align: center;
  height:100vh;
}

.countdown-container{
  border-style:solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aot-container{
  border-style:solid;
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}